<!DOCTYPE html>
<html>
<head>
  <title>Forgecms</title>
  <%= stylesheet_link_tag    "forgecms/application", media: "all" %>
  <%= javascript_include_tag "forgecms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
