.admin {
  .main-header {
    max-height: 100px;
    position: relative;

    & > .navbar {
      background-color: $header-bg-color;
      position: relative;
      margin-left: $sidebar-full-width;
      margin-bottom: 0;
    }

    .navbar-right {
      margin-right: 0;
    }

    .user-dropdown {
      .dropdown-toggle {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }
      .user-name {
        margin-left: 5px;
      }
    }
  }
}