.admin {
  .main-header {
    max-height: 100px;
    position: relative;
    flex: 0 0 auto;

    & > .navbar {
      background-color: $header-bg-color;
      position: relative;
      margin-bottom: 0;
    }

    .navbar-brand {
      background-color: #F8F8F8;
      font-size: 1.3em;
      height: $header-height;
      .logo {
        font-weight: bold;
      }
    }

    .navbar-right {
      margin-right: 0;
    }

    .user-dropdown {
      .dropdown-toggle {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }
      .user-name {
        margin-left: 5px;
      }
    }
  }
}