html {
  font-size: 1em;
  height: 100%;
}

body.admin {
  height: 100%;
}

.admin {
  .wrapper {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .content-wrapper {
    background-color: #F3F3F3;
    display: flex;
    flex: 1 1 auto;

    .page {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      .page-header {
        margin: 0;
        padding: 0;
        background-color: white;
        height: $header-height;
        flex: 0 0 auto;

        h2 {
          margin: 0;
          padding: 16px;
          font-size: 1.4em;
        }

        .btn {
          padding: 8px 12px;
          margin: 9px;
          font-size: 0.9em;
        }
      }
    }

    .page-content {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }
}

.flex-container {
  display: flex;

  .flex-fluid {
    flex: 1 1 auto;
  }

  .flex-static {
    flex: 0 0 auto;
  }
}