.admin {
  .main-sidebar {
    background-color: $sidebar-bg-color;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-full-width;

    .sidebar-header {
      background-color: #F8F8F8;
      font-size: 1.3em;
      height: $header-height;
      border-bottom: 1px solid $header-border-color;
      .logo {
        line-height: $header-height;
        padding-left: 16px;
        font-weight: bold;
      }
    }

    .user-panel {
      border-bottom: 1px solid #EAEAEA;
      padding: 20px;
      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }
      .user-name {
        font-weight: bold;
        margin-left: 10px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: $sidebar-link-color;
          display: block;
          padding: 12px 28px;
          text-decoration: none;
          font-weight: bold;

          &.active {
            background-color: $sidebar-link-bg-color;
          }

          span {
            margin-left: 18px;
          }
        }
      }
    }
  }

  .right-sidebar {
    float: right;
    height: 100%;
    width: 200px;
  }
}