img.avatar {
  border-radius: 50%;
}

.users {
  .listview {
    li {
      display: flex;

      img.avatar {
        border: 2px solid #E6E6E6;
        height: 40px;
        width: 40px;
      }

      .user-avatar {
        flex: 0 0 auto;
      }

      .user-details {
        flex: 1 1 auto;
        margin-left: 15px;
        .name {
          font-weight: bold;
        }
      }
    }
  }
  
  .profile {

    .sidebar {
      background-color: #C8CFDA;
      text-align: center;
      padding: 50px;
      position: relative;

      .btn.edit {
        background-color: white;
        color: #030303;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .user-avatar {
        border: 5px solid white;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
      }

      .name {
        font-weight: bold;
        margin-top: 12px;
        font-size: 1.3em;
      }
    }

    .details {
      padding: 30px;

      .nav-tabs {
        border: 0;
        margin-bottom: 20px;

        li {
          margin: 0;
          a {
            background-color: white;
            font-weight: bold;
            padding: 16px 36px;
            border: 0;
            border-bottom: 3px solid transparent;
            border-radius: 0;
            margin: 0;
            color: #505050;
          }

          &:first-child {
            a {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
          }

          &:last-child {
            a {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
          }

          &.active {
            a {
              border-color: #6AA3B9;
            }
          }
        }
      }

      .tab-content {
        background-color: white;
        border-radius: 3px;

        .tab-pane {
          padding: 30px;
        }
      }
    }
  }
}