.DS_STORE

.rspec

.bundle/
/vendor/bundle

.idea
/pkg/

config/initializers/secret_token.rb
config/secrets.yml
config/database.yml

**/spec/dummy/db/*.sqlite3
**/spec/dummy/db/*.sqlite3-journal
**/spec/dummy/log/*.log
**/spec/dummy/tmp/
**/spec/dummy/.sass-cache
**/tmp
**/log/
**/vendor/bundle
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/public/system
**/coverage/
**/spec/tmp