=form_for @post, :builder => Forgecms::FormBuilder do |form|
  .post-content.flex-container
    = form.text_field :title, { class: "title", placeholder: "Post Title", autocomplete: "off"  }
    = form.text_area :body, { class: "body" }
  =render 'post_sidebar', :form => form