.page.flex-container
  .page-content
    .profile.flex-container.flex-fluid
      .sidebar.flex-static
        .btn.edit
          %i.fa.fa-pencil
        =link_to '#', class: 'user-avatar' do
          =image_tag 'https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg', class: "avatar"
        .name=@user.full_name
        .email=@user.email
      .details.flex-fluid
        %ul.nav.nav-tabs
          %li.active{ role: 'presentation'}
            =link_to 'Activity', '#'
          %li{role: 'presentation'}
            =link_to 'Comments', '#'
          %li{role: 'presentation'}
            =link_to 'Posts', '#'
        .tab-content
          .tab-pane.active
            Tab Content
