.page
  .page-header
    %h2 Users
  .page-content
    %ul.listview
      =list_of @users do |user|
        .user-avatar
          =image_tag 'https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg', class: "avatar"
        .user-details
          =link_to user.full_name, forgecms.edit_user_path(user), class: 'name'
          .created-date
            Last seen
            = timeago(user.last_sign_in_at)