=form_for @post do |f|
  .post-content
    = f.text_field :title, { class: "title", placeholder: "New Post", autocomplete: "off" }
    = f.text_area :body, { class: "body" }
  .post-sidebar
    = f.submit "Create Post", { class: "submit btn btn-primary btn-flat" }