.admin {
  .main-sidebar {
    background-color: $sidebar-bg-color;
    width: $sidebar-full-width;
    flex: 0 0 auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: $sidebar-link-color;
          display: block;
          padding: 12px 28px;
          text-decoration: none;
          font-weight: bold;

          &.active {
            background-color: $sidebar-link-bg-color;
          }

          span {
            margin-left: 18px;
          }
        }
      }
    }
  }

  .right-sidebar {
    float: right;
    height: 100%;
    width: 200px;
  }
}